<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>File Uploader</title>
</head>
<body>
<h1>File Uploader</h1>

<div id="browserLink">
    <a href="/browser/">Browse Images</a>
</div>

<div id="formDiv">
    <h2>Upload any JPEG images only</h2>
    <form action="/upload/" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept="image/jpeg" id="file">
        <input type="submit" name="upload" value="Upload" ac>
    </form>
</div>
</body>
</html>